<!DOCTYPE html>
<html lang="en">
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Ivory Wizard</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin/html">Sign In</a>
            </div>
        </header>
    <head>
        <title>Ivory Wizard</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
            <header>
                Ivory Wizard
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main>
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer>
                &copy; 2021 Ivory Wizard
            </footer>
        </div>
    </body>
    </div>
</html>